// css for campaingn page started
.campaigns{
    padding: 9.6rem 0;
}

// css for campaigns page ended


// css for who are we page started
.who{
    padding: 9.6rem 0;
    @media (max-Width: 991px){
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 0;
        
    
     }
    


    h2{
        font-size: 3.2rem;
        line-height: 4rem;
        color: black;
        font-weight: 600;
    }
    p{
        font-size: 1.8rem;
        line-height: 2.7rem;
        color: gray;
        
    }
    a{
        margin-top: 4.8rem;
        font-size: 1.6rem;
        color:#478AB5 ;
        font-weight: 700;

   
    
    }
    h3{
        font-size: 2.4rem;
        line-height: 4.2rem;
        margin-top: 2.4rem;
        margin-bottom: 4rem;
        color: black;
  
        
    }

    .image{
        @media (max-Width: 991px){
            margin-left: auto;
            margin-right: auto;
            
         }
        
        max-width: 328px;
        max-height: 415px;
        overflow: hidden ;
        position: relative;
        border-radius: 3rem;
        img{
            transition: all 500ms ease;
            &:hover{
                scale: 1.2;
            }
        }
        
      
    }
    .right{
        margin-top: 14rem;
        @media (max-Width:991px){
            margin-top: 0;
        }
    }


}


// css for who are we page ended

// css for slider started 

.slider{
    padding: 9.6rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
    background-color: #F9F9FF;
    width: 100%;

 
    


    
    
    img{
        max-width: 151px;
        height: 40px;
        margin-left: 7rem;
        @media only screen and (max-width: 991px) {
            margin-left: 10rem;
           }
        
    }
    



}
// css for slider ended


// css for news stated

.news{
    padding: 9.6rem 0;




    
}

// css for news ended


// css for latest resources started


.latest{
    padding: 9.6rem 0;
    background-color: #F9F9FF;


}
// css for latest resources ended



// css for contact us section started 


.contact{
    padding: 9.6rem 0;
    .form{
        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }

      margin: 0 30rem;
      @media (max-Width:1200px){
        margin: 0 5rem;
      }
    }
   

    h4{
        font-size: 16px ;
        color:#24272E;
        line-height: 2.4rem;
    }

    

input, textarea{
    border: 2px solid gainsboro;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    width: 100%;
    display: block;
    font-size: 1.6rem;
    
}



    }


    // css of contact us section ended 




