@import "../index.scss";



.hero{
    background-image: url('../assets/Images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, rgba(0, 41, 83, 0.8) 0%, rgba(0, 45, 91, 0.8) 100%);


      }

  


      .searchbox{
        width: 100%;
        position: absolute;
       inset: 0;
       height: 100%;
       background: rgba(0, 0, 0, 0.40);
       display: flex;
   
       justify-content: center;
       z-index: 9;
      .search__container{
       position: relative;
       display: flex;
       margin-top: 10%;
      }
        .search__icon{
            padding-left: 3.5rem;
           
            background-image: url('../assets/Images/search.png');
            background-size: 2rem; 
            background-repeat: no-repeat;
            background-position: 1rem 1rem; 
        }
  
        .cross{
            position: absolute;
            top:2rem ;
            left: 75%;
            overflow: hidden;
            background: white;
            border-radius: 50%;
          
        }
        input{
           width: 50%;
            height: 4rem;
            margin-left: auto;
            margin-right: auto;
            margin-top: 4rem;
            border-radius: 1rem;
            padding:1rem 2rem  ;
            font-size: 1.6rem;
            
         
        }
       }


    //   hero__content started
      .hero__content{
       position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4.8rem;
       width: 100%;
       height: 100vh;
       text-align: center;
       padding-top: 6rem;

       h2{
           color: white;
           font-size: clamp(3.5rem,5vw,6rem);
       }
       p{
        font-size:clamp(1rem,5vw,2rem) ;
        color: white;
        padding-left: 30rem;
        padding-right: 30rem,;
        

        @media (max-Width:1200px){
            padding: 0px 0px;
            
        }
    
    

        
       }
     
    .btn{
        padding: 1.6rem 2.8rem ;
        background-color: transparent;
        border: 1px solid yellow;
        border-radius: 0.8rem;
        color: white;
        font-size: 2rem;

    }
     
      }



    }


    

