$iconscolor:  #1D6FA3;
.hero{
    background-image: url('../assets/Images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, rgba(0, 41, 83, 0.8) 0%, rgba(0, 45, 91, 0.8) 100%);


      }

      .line{
        border: 1px solid white;
        position: relative;
        top: 13%;
        @media (max-Width:700px){
            display: none;
        }
      }
      nav{
        
        
        
    

    
      
        .navigator{
            position: absolute;
            z-index: 1;
            font-size: 1.6rem;
          
               
        @media (max-Width:700px){
            display: none;
            
        }
          
           
            height: 8rem;
            h3{
                color: black;
            }


            
    
            .flex{
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 4rem;
                padding:2rem 0 ;
                
                
    
    
                
    
                .dropdown{
                    display: flex;
                    color: white;
                    transition: all 500ms ease;
                    
                    
                    gap: 1rem;
    
                    .btn{
                        background-color: transparent;
    
                    }
                    .icons{
                       fill: blue;
                       font-size: 20px;
    
                    }
                    .text{
                        color: black;
                        p{
                            color: black;
                        }
                    }
                    
                }
    
            }
      }

     



      }


    //   hero__content started
      .hero__content{
       position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4.8rem;
       width: 100%;
       height: 100vh;
       text-align: center;
       .searchbox{
        width: 100%;
        position: relative;
        margin-top: 2rem;
       
        display: block;
        .search__icon{
            padding-left: 3.5rem;
           
            background-image: url('../assets/Images/search.png');
            background-size: 2rem; 
            background-repeat: no-repeat;
            background-position: 1rem 1rem; 
        }
  
        .cross{
            position: absolute;
            top:2rem ;
            left: 75%;
            overflow: hidden;
            background: white;
            border-radius: 50%;
          
        }
        input{
           width: 50%;
            height: 4rem;
            margin-left: auto;
            margin-right: auto;
            margin-top: 4rem;
            border-radius: 1rem;
            padding:1rem 2rem  ;
            font-size: 1.6rem;
            
         
        }
       }
       h2{
           color: white;
           font-size: 6rem;
       }
       p{
        font-size: 2rem;
        color: white;
        padding-left: 30rem;
        padding-right: 30rem,;
        

        @media (max-Width:1200px){
            padding: 0px 0px;
            
        }
    
    

        
       }
     
    .btn{
        padding: 1.6rem 2.8rem ;
        background-color: transparent;
        border: 1px solid yellow;
        border-radius: 0.8rem;
        color: white;
        font-size: 2rem;

    }
     
      }



    }


    

